body {
    background-image: url("https://jooinn.com/images/lighting-10.jpg");
    background-color: blue;
    
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;

   }
h5{
    color: blueviolet;
}
h1{
    color:aqua
}
